body.light {
    --bg-color: white;
    --text-color: black;
    --border-color: #000000;
    --scrollbar-bg: #f1f1f1;
    --scrollbar-thumb: #000000;
    --scrollbar-thumb-hover: #555;
}

body.dark {
    --bg-color: #000000;
    --text-color: white;
    --border-color: #ffffff;
    --scrollbar-bg: #000000;
    --scrollbar-thumb: #ffffff;
    --scrollbar-thumb-hover: #aaa;
}

.Dashboard {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Sidebar Styles */
.SideBar {
    width: 100%;
    border-right: 1px solid var(--border-color);
    height: 100vh;
    transition: all 0.6s ease;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.SideBar_Menu::-webkit-scrollbar {
    width: 5px;
}

.SideBar_Menu::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

.SideBar_Menu::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-bg);
}

.SideBar_Menu::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.Drawer {
    box-shadow: 5px 0 3px -3px #00000030;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 250px;
    height: 100%;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
}

.DrawerOpen {
    left: 0;
    transition: left 0.6s ease-in-out;
    padding-left: 15px;
}

.DrawerClosed {
    left: -100%;
    transition: left 0.6s ease-in-out;
}

.FullSidebar {
    width: 290px;
    padding-left: 15px;
    transition: all 0.6s ease;

}

.SmallSidebar {
    width: 88px;
    transition: all 0.6s ease;
}

.SmallSidebar .SideBar_Menu {
    margin-top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.FullSidebar .SideBar_Menu {
    padding-bottom: 20px;
}

.SmallSidebar .SideBar_Menu ul {
    justify-content: center;
}

.SmallSidebar .SideBar_Menu ul li svg,
.SmallSidebar .SideBar_Menu ul li .icon {
    width: 30px;
    height: 30px;
}

.SideBar_Menu ul+ul {
    margin-top: 10px;
}

.SideBarLogo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.SideBarLogo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.SideBarLogo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.SideBar_Menu {
    width: 100%;
    height: auto;
    color: var(--text-color);
    margin-top: 20px;
    overflow-y: auto;

}

.SideBar_Menu ul {
    width: 100%;
    height: auto;
    color: var(--text-color);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}