.category-area {
  width: 100%;
  height: 100%;
}
.category-topbar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
  font-size: 14px;
}
.category-body {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
