.ShoppingBAg {
    width: 100%;
    height: auto;
    padding-top: 188.4px;
    transition: all 0.6s ease;
}

.custom-size {
    font-size: 12px;
    border: 1px solid black !important;
}

.custom-swal-btn {
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
    box-shadow: none !important;
    width: 350px !important;
    padding: 0%;
}

.ShippingFavoButton {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.ShippingFavoButton button {
    width: 335px;
    height: 30px;
    font-size: 11px;
}

.ShippingButton,
.WishListButton {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeButton {
    font-weight: bold;
}

.CartProducts {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.Cartdata {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
    width: 100%;
    transition: all 0.6s ease;
}

.CartGridView {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.cartproductimage img {
    width: 100%;
    height: 420px;
    border-bottom: 1px solid black;
}

.cartprdocutsdetailes {
    display: flex;
    padding: 6px 6px 0px 6px;
    font-size: 11px;
    height: 110px;
    justify-content: space-between;
    flex-direction: column;
}

.cartseconds {
    display: flex;
    justify-content: space-between;
}

.cartitemicons {
    display: flex;
    cursor: pointer;
}

.cartitemquantity {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 3px;
    margin-bottom: 10px;
}

.cartitemquantity div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 12px;

}

.CartLikeProducts {
    font-size: 11px;
    margin-top: 50px;
}

.CartpropccessOrder {
    width: 100%;
    height: 78px;
    background-color: white;
    border-top: 1px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.CartProccesses {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    font-size: 11px;
}

.CartProccesses div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
}

.CartProccesses div :nth-child(2) {
    gap: 0px;
}

.Cartcontinuebutton {
    width: 146px;
    color: white;
    height: 100%;
    background-color: black;
}

.Contiun {
    width: 100%;
    color: white;
    border: none;
    height: 100%;
    background-color: black;
}

.Contiun:hover {
    background-color: rgb(40, 40, 40);
}

@media (max-width: 1279px) {
    .ShoppingBAg {
        padding-top: 175.4px;
    }
}

@media (max-width: 1179px) {
    .ShoppingBAg {
        padding-top: 156px;
    }
}

@media (max-width: 1024px) {
    .ShoppingBAg {
        padding-top: 146px;
    }

    .cartproductimage img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-bottom: 1px solid black;
    }
    .CartProducts {
       border: none; 
    }
    
    .Cartdata {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 983px) {
    .ShoppingBAg {
        padding-top: 144px;
    }
}
@media (max-width: 850px) {
    .ShoppingBAg {
        padding-top: 134px;
    }
}

@media (max-width: 768px) {
    .ShoppingBAg {
        padding-top: 94px;
    }
    .CartGridView {
        border-right: 1px solid black;
    }
    .Cartdata {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        width: 100%;
    }
}