.DetailedProducts {
    width: 100%;
    height: auto;
    transition: all 0.6s ease;
}
.LikeSoneProducts p{
padding: 20px 20px 20px 20px;
}
.ProductArea {
    width: 99.9%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    transition: all 0.6s ease;
    border-top: 1px solid black;
}

.ProductAreaSamllImages {
    width: 99.9%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transition: all 0.6s ease;
}

/* New Data */
.ProductGridView {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.Productproductimage img {
    width: 100%;
    height: 360px;
    border-bottom: 1px solid black;
}

.Productprdocutsdetailes {
    display: flex;
    padding: 6px 6px 0px 6px;
    font-size: 11px;
    height: 54px;
    justify-content: space-between;
    flex-direction: column;
}

.Productseconds {
    display: flex;
    justify-content: space-between;
}

.Productitemicons {
    display: flex;
    cursor: pointer;
}

/* New Data */
.FlterView {
    margin-top: 150px;
}

.ProductData {
    margin: -1px;
    position: relative;
}

.CartButtonArea {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(1px);
    z-index: 01;
    bottom: 55px;

}

.AddToCartIcon {
    width: 30px;
    height: 30px;
    background-color: rgba(240, 240, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Detailed {
    width: 100%;
    height: 54px;
    padding: 10px;
}

.Detailed h4 {
    font-size: 10px;
}

.DetailedTitleandSVG {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DetailedTitleandSVG svg {
    font-size: 10px;
}

.PriceSection {
    font-size: 10px;
}

@media (max-width: 1179px) {
    .ProductArea {
        width: 99.9%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .ProductGridView {
        border-top: none;
    }
}

@media (max-width: 983px) {
    .ProductArea {
        width: 99.9%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ProductGridView {
        border-top: none;
    }
}

@media (max-width: 768px) {
    .FlterView {
        margin-top: 40px;
    }

    .ProductArea {
        width: 99.9%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ProductGridView {
        border-top: none;
    }

    .ProductAreaSamllImages {
        width: 99.9%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
    }

}