* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Footerarea {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 100%;
}

.Subscribearea {
  width: 40%;
  height: 100%;
  padding-top: 200px;
  transition: all 0.6s ease;
}

.emailarea {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease;
}

.emailarea label {
  font-size: 10px;
  padding-bottom: 5px;
  color: var(--text-color);
}

.emailarea input {
  height: 25px;
  font-size: 12px;
  outline: none;
  border-bottom: 1px black dotted;
  transition: all 0.6s ease;
  padding: 0px 0px 0px 10px;
}
.emailarea input::placeholder {
  color: black;
}

.checkboxarea {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
  padding: 25px 0px 0px 0px;
}

.checkboxarea p {
  width: 98%;
  font-size: 11px;
  color: var(--text-color);
}

.checkboxarea input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.checkboxarea input[type="checkbox"]:checked {
  background-color: grey;
  border-color: grey;
}

.slectsection {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
  gap: 25px;
  color: var(--text-color);
}
.slectsection input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.slectsection input[type="checkbox"]:checked {
  background-color: grey;
  border-color: grey;
}
.Section {
  font-size: 12px;
  color: var(--text-color);
}

.slectsection div {
  display: flex;
  font-size: 11px;
  gap: 10px;
}

.SUBSCRIBEButton button {
  margin-top: 30px;
  font-size: 12px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid var(--border-color);
}

.SUBSCRIBEButton button span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.SUBSCRIBEButton button:hover span {
  transform: scale(1.1);
  font-weight: bold;
}

.socialarea,
.companyarea {
  width: 100%;
  height: 100%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 30px;
  transition: all 0.6s ease;
}

.socialarea {
  padding-top: 100px;
}

.socialarea a {
  transition: all 0.6s ease;
  position: relative;
  width: 70px;
  height: auto;
  text-align: center;
}

.socialarea a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(67, 67, 67);
  position: absolute;
  left: 0;
  bottom: 0;
}

.socialarea a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.socialarea a:hover::after {
  transform: scale(1, 1);
}

.companyarea {
  padding-top: 100px;
  justify-content: start;
  align-items: start;
  transition: all 0.6s ease;
}

.companyarea p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
  margin-bottom: 5px;
}

.companyHelp ul li,
.companyCompany ul li,
.companyPolicies ul li {
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.companyHelp ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(67, 67, 67);
  position: absolute;
  left: 0;
  bottom: 0;
}

.companyCompany ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(67, 67, 67);
  position: absolute;
  left: 0;
  bottom: 0;
}

.companyPolicies ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(67, 67, 67);
  position: absolute;
  left: 0;
  bottom: 0;
}

.companyHelp ul li::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.companyHelp ul li:hover::after {
  transform: scale(1, 1);
}

.companyCompany ul li::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.companyCompany ul li:hover::after {
  transform: scale(1, 1);
}

.companyPolicies ul li::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.companyPolicies ul li:hover::after {
  transform: scale(1, 1);
}

.companyFollow_Us a {
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease;
  margin-bottom: 5px;
  position: relative;
}

.companyFollow_Us a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(67, 67, 67);
  position: absolute;
  left: 0;
  bottom: 0;
}

.companyFollow_Us a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.companyFollow_Us a:hover::after {
  transform: scale(1, 1);
}

.Footerlastarea {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  transition: all 0.6s ease;
  font-size: 9px;
  padding: 100px 0px 50px 0px;
}

.Footerlastarea :first-child {
  padding-bottom: 20px;
  transition: all 0.6s ease;
  cursor: pointer;
}

.Footerlastarea :last-child {
  display: flex;
  gap: 10px;
  transition: all 0.6s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Subscribearea {
    width: 100%;
    padding-top: 200px;
  }

  .socialarea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
  }

  .socialarea a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: wrap;
    margin: 0 5px;
  }

  .companyarea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .companyarea p {
    text-align: center;
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
  }

  .companyHelp ul li,
  .companyCompany ul li,
  .companyPolicies ul li {
    text-align: center;
  }

  .companyFollow_Us a {
    text-align: center;
  }

  .Footerlastarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    transition: all 0.6s ease;
    font-size: 9px;
    padding: 100px 0px 30px 0px;
  }

  .Footerlastarea :first-child .international {
    display: none;
  }

  .Footerlastarea :last-child {
    display: flex;
    gap: 10px;
  }

  .Footerlastarea > div:last-child div:not(:first-child),
  .Footerlastarea > div:not(:nth-child(-n + 3)) p {
    display: none;
  }
}
