.Uploadimages {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: auto;
}

.Uploadimages-mainArea {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Uploadimages-mainArea-title {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Changed from start to center */
  align-items: center;
  padding: 1.5rem;
}

.Uploadimages-mainArea-title p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.Uploadimages-mainArea-data {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 1.5rem;
  gap: 1.5rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.Uploadimages-side {
  width: 30%;
  height: 100%;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.Uploadimages-side-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0.5rem;
}

.Uploadimages-side-folder {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  border-top: 1px solid var(--border-color);
}

.Uploadimages-side-folder div {
  width: 100%;
  cursor: pointer;
  text-decoration: underline;
}

.Uploadimages-main {
  width: 70%;
  height: 100%;
  gap: 20px;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
