


.ChatPopupshow {
    position: fixed;
    z-index: 50;
    bottom: 130px;
    right: 0;
    width: 120px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;
}

.ChatOnePopupshow {
    position: fixed;
    z-index: 50;
    bottom: 130px;
    left: 0;
    width: 120px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;
}

button {
    width: 100%;
    max-width: 500px;
    height: 40px;
    cursor: pointer;
    outline: none;
    padding: 8px 16px 8px 16px;
    margin: 1px;
    border: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    .ChatPopupshow {
        display: none;
    }

    .chat-component {
        display: none;
    }
}

@media (min-width: 768px) {
    .chat-component {
        display: block;
    }
}