@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.FlterView {
  position: absolute;
  z-index: 5;
  width: 100%;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  transition: all 0.6s ease;
  gap: 10px;

}

.FlterView div {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  background-clip: content-box;
  min-height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}