@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FlterView {
  position: absolute;
  z-index: 5;
  width: 100%;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  transition: all 0.6s ease;
  gap: 10px;

}

.FlterView div {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #232323;
  background-clip: content-box;
  min-height: auto;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}