.Gallery {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-y: auto;
    overflow-x: auto;
}

.Gallery_MainArea {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

.Gallery_MainArea_First {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.Gallery_MainArea_Fisrt_Title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-color);
}

.Gallery_MainArea_Fisrt_Button {
    padding: 8px 0;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 200px;
}

.Gallery_MainArea_Fisrt_Button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 10%;
    transition: all 0.5s ease;
    pointer-events: none;
}

.Gallery_MainArea_Fisrt_Button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.Gallery_MainArea_Fisrt_Button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.Gallery_MainArea_Second {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.Gallery_MainArea_Second_Area {
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.Gallery_MainArea_Second_Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    gap: 10px;
    height: 100%;
}

.icons {
    font-size: 24px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, border-bottom 0.3s ease, color 0.3s ease;
}

.icons.active {
    transform: scale(1.2);
    border-bottom: 2px solid var(--active-border-color);
    /* Customize the border color */
    color: var(--active-icon-color);
    /* Customize the active icon color */
}

.sort-by-date,
.sort-order {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid var(--border-color);
    padding: 4px 8px;
    margin-bottom: 5px;
}

.Gallery_MainArea_Second_Area_Second {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.Gallery_MainArea_Second_Area_Second p {
    font-size: 13px;
}

.search-input-wrapper {
    position: relative;
    width: 60%;
}

.Gallery_MainArea_Second_Area_Second input {
    outline: none;
    background-color: var(--input-bg-color);
    width: 100%;
    height: 30px;
    color: var(--input-color);
    padding: 0 30px 0 5px;
    border-radius: 02px;
    font-size: 14px;
}

.Gallery_MainArea_Second_Area_Second input::placeholder {
    color: var(--input-color);
    font-size: 13px;
    opacity: 1;
}

.clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--input-color);
}

.gallery_area {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px;
    gap: 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}