.singup {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}

.singuparea {
    max-width: 100%;
    width: 370px;
    height: auto;
    margin-left: 89.5px;

}

.singuptext {
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(37, 37, 37);
}

.Registerbutton {
    display: inline-block;
    /* or display: block; */
    width: 100%;
    height: 35px;
    border: 1px solid black;
    font-size: 11px;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Registerbutton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(98, 98, 98);
}

.Loginbutton {
    width: 100%;
    height: 35px;
    border: 1px solid black;
    font-size: 11px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loginbutton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(98, 98, 98);
}

.Fogotten {
    margin-top: 30px;
    font-size: 11px;
}

.singupcheck {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.checkbox {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.singupchecktext {
    padding-left: 10px;
    font-size: 11px;

    color: rgb(89, 89, 89);
}


.singupcookies {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.singupcookiestext {
    padding-left: 10px;
    font-size: 11px;
    color: rgb(89, 89, 89);
}