.sidePopup {
    position: fixed;
    top: 0;
    left: 58px;
    bottom: 0;
    width: 380px;
    z-index: 20;
    background-color: white;
    box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 85vh;
    max-height: 100vh;
    border: 1px solid black;
    transition: all 0.6s ease;
}

.hidden-popup {
    display: none;
}
@media (min-width: 768px) {
    .popupclose {
        display: none;
    } .popupicon {
      display: block; /* Show the icon section for screen width >= 768px */
    }
}

.Close__Button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.shoppingbag {
    font-size: 12px;
    color: rgb(60, 60, 60);
}

.popupicon {
    width: 100%;
    height: 109px;
    padding: 15px 20px 20px 20px;
}

.iconpop {
    width: 75%;
    height: 100px;
    margin-left: 12px;
}

.maincategory {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    font-size: 13px;
    border-bottom: 1px solid black;
}

.maincategory button {
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidePopup {
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-left: 0px;
        left: 0px;
        height: 100%;
    }
    .popupicon {
        display: none; /* Hide the icon section for screen width < 768px */
      }
    .iconpop {
        display: none;
    }

    .maincategory {
        width: 100%;
        margin-top: 0px;
    }

    .popupclose {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px 0px 10px;
    }
}