.SingleProduct {
    width: 100%;
    height: 100%;
    padding: 150px 89px 0px 89px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Main_Area {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
}

.COMPOSITIONAREA {
    max-width: 280px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    border: 1px solid black;
    padding: 13px 19px 0px 19px;
    flex-direction: column;
}

.compact {
    height: 55%;
    top: 198px;
    position: relative;
    padding: 13px 19px 20px 19px;
}

.COMPOSITIONAREA::-webkit-scrollbar {
    width: 4px;
}

.COMPOSITIONAREA::-webkit-scrollbar-thumb {
    background-color: #828282;
}

.COMPOSITIONAREA::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.COMPOSITIONAREA :nth-child(2) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(3) {
    font-size: 11px;
    margin: 10px 30px 0px 0px;
}

.COMPOSITIONAREA :nth-child(4) {
    font-size: 12px;
    margin: 10px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(5) {
    font-size: 11px;
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(6) {
    font-size: 12px;
    margin: 10px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(7) {
    font-size: 11px;
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(8) {
    font-size: 13px;
    margin: 40px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(9) {
    font-size: 11px;
    margin: 10px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(10) {
    font-size: 11px;
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(11) {
    font-size: 11px;
    margin: 40px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(12) {
    font-size: 11px;
    margin: 10px 30px 0px 0px;
}

.COMPOSITIONAREA :nth-child(13) {
    font-size: 12px;
    margin: 10px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(14) {
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    text-decoration: underline;
}

.COMPOSITIONAREA :nth-child(15) {
    font-size: 11px;
    margin: 20px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(16) {
    font-size: 11px;
    margin: 30px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(17) {
    font-size: 12px;
    margin: 30px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(18) {
    font-size: 11px;
    margin: 10px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(19) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    text-decoration: underline;
}

.COMPOSITIONAREA :nth-child(20) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.COMPOSITIONAREA :nth-child(20) p {
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(21) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.COMPOSITIONAREA :nth-child(21) p {
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(22) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.COMPOSITIONAREA :nth-child(22) p {
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(23) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.COMPOSITIONAREA :nth-child(23) p {
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA :nth-child(24) {
    font-size: 11px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.COMPOSITIONAREA :nth-child(24) p {
    margin: 0px 0px 0px 0px;
}

.COMPOSITIONAREA button {
    padding: 0px 0px 0px 0px;
    width: 80px;
    height: 20px;
    margin: 15px 0px 10px 0px;
    text-decoration: underline;
}

.CarosualArea {
    max-width: 360px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}

.ImagesCarusalall {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.CarosualOverflow {
    width: 350px;
    height: 440px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;

}

.CarosualOverflow::-webkit-scrollbar {
    width: 4px;
    height: 100%;
}

.CarosualOverflow::-webkit-scrollbar-thumb {
    background-color: #828282;
}

.CarosualOverflow::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.ImagesCarosual {
    width: 300px;
    height: 440px;

}

.ImagesCarosual img {
    width: 100%;
    height: 440px;
}

.ImagesForCarsualUpdates {
    width: 08%;
    height: 100%;
    height: auto;
    z-index: 20;
    position: absolute;
    overflow-y: auto;
    padding-top: 123px;
    position: absolute;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.UpdaterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.UpdaterImage img {
    width: 100%;
    height: 2.7em;
    object-fit: cover;
}

.UpdaterImage img {
    transition: filter 0.3s ease;
}

.UpdaterImage.active img {
    filter: brightness(100%);
}

.UpdaterImage:not(.active) img {
    filter: blur(1px) brightness(70%);
}


.AllProductDataView {
    max-width: 300px;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}

.Productdetails {
    width: 100%;
    height: 39%;
    padding: 24px 20px 24px 20px;
}

.productcolorsandsize {
    width: 100%;
    height: 39%;
    padding: 24px 20px 24px 20px;
}

.Productdetails {
    border-bottom: 1px solid black;
}

.Productdetails :nth-child(1) {
    font-size: 10px;
}

.Productdetails :nth-child(2) {
    font-size: 10px;
    margin: 01px 0px 0px 0px;
}

.Productdetails :nth-child(3) {
    font-size: 11px;
    margin: 20px 0px 20px 0px;
}

.Productdetails :nth-child(4) {
    font-size: 10px;
    margin: 20px 0px 0px 0px;
}

.Productdetails :nth-child(6) {
    font-size: 10px;
    margin: 20px 0px 0px 0px;
}

.Productdetails span {
    display: flex;
    justify-content: space-between;
}

.Productdetails span :nth-child(2) {
    cursor: pointer;
}

.productcolorsandsize :nth-child(1) {
    font-size: 10px;
}

.productcolorsandsize :nth-child(4) {
    font-size: 10px;
    padding-top: 10px;
}

.productcolorsandsize .Colors {
    font-size: 10px;
    padding: 10px 0px 0px 0px;
    height: 40px;
}

.productcolorsandsize .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #919191;
    padding: 0px;
    vertical-align: middle;
}

.product-sizes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.product-sizes button {
    width: 49%;
    height: 28px;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 10px;

}

.product-sizes button:hover {
    background-color: #e0e0e0;
}

.product-sizes button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #363636;
}

.AddButton {
    width: 100%;
    height: 40px;
    border-top: 1px solid #000000;
    cursor: pointer;
    font-size: 12px;
    margin-top: 16px;
}

.LikeSameWithProductData {
    width: 100%;
    height: auto;
    padding: 150px 0px 0px 0px;
}

.LikeSameWithProductData p {
    font-size: 10px;
    padding: 0px 0px 0px 30px;
}

.ProdcutsDisplays {
    width: 100%;
    height: auto;
    padding: 20px 0px 0px 0px;
}